$gray-darker: #2f0d1b; // Modifié
$gray: #7A7A7A;
$gray-light: #d9d9d9; // Modifié : #F1F1F1
$gray-lighter: #e5e5e5; // Modifié : #f6f6f6;
$brand-primary: #dd0779; // Modifié
$brand-secondary: #f39d72;
$brand-success: #4cbb6c;
$brand-warning: #ff9a52;
$brand-danger: #ff4c4c;
$label-color: $gray-darker;
$btn-primary-color: #fff;
$btn-primary-bg: $brand-primary;
$btn-primary-border: transparent;
$btn-secondary-color: $gray-darker;
$btn-secondary-bg: $gray-lighter;
$btn-secondary-border: transparent;
$btn-border-radius: 22px;
$input-border-color: rgba(0, 0, 0, 0.15);
$headings-font-weight: 700;
$tooltip-bg: $brand-danger;
$border-radius: 0;
$extra-small-space: 0.3125rem; // 5px
$small-space: 0.625rem; // 10px
$medium-space: 1.25rem; // 20px
$large-space: 1.875rem; // 30px
$extra-large-space: 2.5rem;
$warning: #FF9A52;
$warning-hover: #FDE7BB;
$alert-warning-bg: rgba(255,154,82,0.3);
$alert-warning-border: $warning;
$alert-warning-text: $gray-darker;
$btn-warning-bg: $warning;
$btn-warning-color: white;
$btn-tertiary-color: #6C868E;
$btn-tertiary-hover: #BBCDD2;
$base-font-size: 1rem; // 16px
$font-size-lg: 0.9375rem;
$font-size-sm: 0.875rem; // 14px
$font-size-xs: 0.8125rem; // 13px
$font-size-small: 0.75rem; // 12px
$font-size-h1: 2rem; // 1.375
$font-size-h2: 1.25rem;
$font-size-h3: 1.125rem;
$font-size-h4: 1.125rem; // 18px
$font-size-h5: 1rem;
$font-size-h6: 0.9375rem;
$display1-size: 3.125rem;
$display1-weight: 600;
$display2-size: 2.188rem;
$display2-weight: 400;
$display3-size: 1.563rem;
$display3-weight: 400;
$display4-size: 1.25rem;
$display4-weight: 400;
$text-muted: $gray;
$base-font--family: 'Exo 2', sans-serif;
//$base-font--family: 'Noto Sans', sans-serif;
//$NotoSansPath: "~notosans-fontface/fonts";
//$NotoSansVersion: "1.0.1";
$transition-primary: all .2s ease-in-out;
