
#assets {
  text-align: center;
  margin-bottom: $extra-large-space;
  line-height: 1rem;

  .services {
    display: inline-block;
    padding: 0 $medium-space;
    text-align: left;

    .service-img {
      float: left;
      margin-right: $small-space;
      img {
        width: auto;
        height: 55px;
      }
    }

    .service-block {
      float: left;
      .service-title {
        font-weight: 700;
        margin-top: $small-space;
      }
      .service-desc {
        font-size: $font-size-sm;
      }
    }
  }
}


/*** Responsive part ***/
@include media-breakpoint-down(lg) {
  #assets .services {
    padding: 0 $small-space;
    .service-img {
      margin-right: .3rem;
      img {
        //height: 40px;
        height: 36px;
      }
    }
    .service-block .service-title {
      margin-top: $extra-small-space;
    }
  }
}