.brand-liste {

  .brand-inter {
    border-bottom: 1px solid $input-border-color;
    font-size: $font-size-h1;
    text-transform: uppercase;
    margin-bottom: $medium-space;
    padding-top: $large-space;
    padding-bottom: 10px;
    font-weight: bold;
  }

  h3 {
    font-size: $base-font-size;
    text-transform: capitalize;
    font-weight: normal;
    a {
      color: $gray-darker;
      &:hover {
        color: $brand-primary;
      }
    }
  }
  .nb_products {
    color: $gray;
    font-size: $font-size-small;
  }
}

.letter-brand-liste {
  text-align: center;
  li {
    display: inline-block;
    font-size: $font-size-h2;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 3px;
    a {
      color: $gray-darker;
      &:hover {
        color: $brand-primary;
      }
    }
  }
}