#custom-text {
  background: white;
  border-radius: 2px;
  padding: $extra-large-space;
  text-align: center;
  //@include make-container-max-widths();
  //margin: 0 auto 1.5rem;
  border: 2px solid $brand-primary;
  h3 {
    text-transform: uppercase;
    color: $gray-darker;
    font-size: 1.563rem;
    font-weight: 700;
  }
  p {
    color: $gray-darker;
    font-weight: 400;
    font-size: 1.1em;
    .dark {
      color: $gray;
      font-weight: 400;
    }
  }
  & *:last-child {
    margin-bottom: 0;
  }
}
.page-content.page-cms {
  background: white;
  padding: 1.25rem;
  text-align: justify;
  .cms-box{
    img{
      max-width: 100%;
    }
  }
}
@include media-breakpoint-down(md) {
  #block-cmsinfo {
    padding: $medium-space $large-space;
  }
}

@include media-breakpoint-down(xs) {
  #custom-text {
    padding-left: $small-space;
    padding-right: $small-space;
  }
}
