#products,.featured-products,.product-accessories,.product-miniature  {
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: $large-space;
  }
  .product-thumbnail {
    display: block;
    //border: $input-btn-border-width solid $input-border-color;
    //&:hover {
    //  border-color: $brand-primary;
    //}
  }
  .product-title a {
    //color: $gray;
    //font-weight: 400;
    font-size: $base-font-size;
    line-height: 1.25;
    text-decoration: none;
    text-align: center;
    color: $gray-darker;
    font-weight: 700;
    &:hover {
      color: $brand-primary;
    }
  }
  .thumbnail-container {
    position: relative;
    margin-bottom: 1.563rem;
    //height: 318px;
    width: 257px;
    background: white;
    //@include box-shadow;
    &:hover, &:focus {
      .image-hover {
        opacity: 1;
        //transform: rotateX(0deg) rotateY(0deg);
        //-webkit-transform: rotateX(0deg) rotateY(0deg);
        //-moz-transform: rotateX(0deg) rotateY(0deg);
      }
      .highlighted-informations {
        //bottom: 5.5rem;
        bottom: 4.5rem;
        &::after {
          opacity: 1;
        }
        &.no-variants{
          bottom: 4.2rem;
        }
      }
      .product-description::after{
        content: "";
        //border-top: $input-btn-border-width solid $input-border-color;
        position: absolute;
        width: 80%;
        top: 0;
        left: 10%;
        opacity: .25;
      }
    }
  }
  .products-section-title {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .product-title {
    text-align: center;
    text-transform: capitalize;
    margin-top: $small-space;
  }
  .product-price-and-shipping {
    color: $gray-darker;
    font-weight: normal;
    text-align: center;
    font-size: $font-size-h3;
    line-height: 1.333;
  }
  .variant-links {
    position: relative;
    text-align: center;
    width: 100%;
    top: -0.25em;
    padding-top: 0.1875rem;
    min-height: 2.5rem;
    background: white;
  }
  .highlighted-informations {
    position: absolute;
    bottom: 1.25rem;
    padding-top: 0.625rem;
    z-index: 0;
    //background: white;
    text-align: center;
    width: 257px;
    height: 3.125rem;
    //box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.2);
    transition: bottom .3s;
    //background-color: rgba(229, 229, 229, .75);
    .quick-view {
      color: $gray-darker;
      font-size: $base-font-size;
      i {
        color: black;
      }
      &:hover {
        color: $brand-primary;
        i {
          color: $brand-primary;
        }
      }
    }
  }

  .product-description {
    //position: absolute;
    position: relative;
    z-index: 1;
    background: white;
    width: 257px;
    bottom: 0;
    height: 70px;
    //border-top: $input-btn-border-width solid $input-border-color;
  }
  img {
    //margin-left: 4px;
    width: 100%;
    height: auto;
  }
  .image-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    //transition: $transition-primary;
    //transform: rotateY(-180deg);
    //-webkit-transform: rotateY(-180deg);
    //-moz-transform: rotateY(-180deg);
    //transform-style: preserve-3d;
    //-webkit-transform-style: preserve-3d;
    //-moz-transform-style: preserve-3d;
    //-webkit-backface-visibility: hidden;
    //-moz-backface-visibility: hidden;
    //backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .product-miniature {
    margin: 0 0.625rem;
    .discount {
      display: none;
    }
    .product-flags .new,
    .online-only,
    .on-sale,
    .discount-percentage,
    .pack {
      display: block;
      position: absolute;
      left: -0.4375rem;
      padding: 0.3125rem 0.4375rem;
      color: white;
      background: $brand-primary;
      text-transform: uppercase;
      min-width: 3.125rem;
      min-height: 1.875rem;
      font-size: $base-font-size;
      font-weight: 600;
      @include box-shadow-light;
      &.discount-percentage {
        z-index: 2;
        background: $brand-secondary;
      }
      &.on-sale{
        background: $brand-secondary;
        width: 100%;
        text-align: center;
        left:0;
        top:0;
      }
      &.online-only {
        font-size: $font-size-xs;
        margin-top: 13rem;
        margin-left: 8.688rem;
        &::before{
          content:"\E30A";
          font-family: 'Material Icons';
          vertical-align: middle;
          margin: 0.3125rem;
        }
      }
    }
  }
  .comments_note {
    text-align: center;
    color: $gray;
  }
  .regular-price {
    color: $gray;
    text-decoration: line-through;
    font-size: $font-size-sm;
  }
  .count {
    color: $gray;
    font-weight: 700;
    position: relative;
    bottom: 0.5rem;
  }
  .all-product-link {
    clear: both;
    color: $gray;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.product-accessories {
  padding-top: $large-space;
}

@include media-breakpoint-down(sm) {
  #products,.featured-products,.product-accessories  {
    .thumbnail-container {
      //@include box-shadow;
      //.product-description{
      //  box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.2);
      //}
    }
  }
}

$width-thumb-lg: 210px;
$height-thumb-lg: $width-thumb-lg*0.965+70;
@include media-breakpoint-down(lg) {
  #products,.featured-products,.product-accessories,.product-miniature {
    .thumbnail-container {
      width: $width-thumb-lg;
      //height: $height-thumb-lg;
      //img {
      //  width: $width-thumb-lg - 6;
      //  height: auto;
      //}
      .product-description, .highlighted-informations {
        width: $width-thumb-lg;
      }
      //.product-title {
      //  a {
      //    font-size: $font-size-sm;
      //    line-height: 1;
      //  }
      //}
    }
  }
}
$width-thumb-md: 200px;
$height-thumb-md: $width-thumb-md*0.965+70;
@include media-breakpoint-down(md) {
  #products,.featured-products,.product-accessories,.product-miniature {
    .thumbnail-container {
      width: $width-thumb-md;
      //height: $height-thumb-md;
      //img {
      //  width: $width-thumb-md - 6;
      //  height: auto;
      //}
      .product-description, .highlighted-informations {
        width: $width-thumb-md;
      }
      //.product-title {
      //  a {
      //    font-size: $font-size-sm;
      //    line-height: 1;
      //  }
      //}
    }
  }
}
$width-thumb-sm: 160px;
$height-thumb-sm: $width-thumb-sm*0.965+70;
@include media-breakpoint-down(sm) {
  #products,.featured-products,.product-accessories,.product-miniature {
    .thumbnail-container {
      width: $width-thumb-sm;
      //height: $height-thumb-sm;
      //img {
      //  width: $width-thumb-sm - 6;
      //  height: auto;
      //}
      .product-description, .highlighted-informations {
        width: $width-thumb-sm;
      }
      .product-title {
        a {
          font-size: $font-size-sm;
          line-height: 1;
        }
      }
    }
  }
}
$width-thumb-xs: 130px;
$height-thumb-xs: $width-thumb-xs*0.965+70;
@include media-breakpoint-down(xs) {
  #products,.featured-products,.product-accessories,.product-miniature {
    .thumbnail-container {
      width: $width-thumb-xs;
      //height: $height-thumb-xs;
      //img {
      //  width: $width-thumb-xs - 6;
      //  height: auto;
      //}
      .product-description, .highlighted-informations {
        width: $width-thumb-xs;
      }
      .product-title {
        a {
          font-size: $font-size-sm;
          line-height: 1;
        }
      }
    }
  }
}