.block_newsletter {
  background-color: $gray-light;
  padding-top: $extra-large-space;
  padding-bottom: $extra-large-space;
  @include search-box;
  font-size: $font-size-sm;
  p {
    padding-top: $small-space;
    margin-bottom: 0;
  }
  form {
    .input-wrapper {
      position: relative;
    }
    input[type=text] {
      min-width: inherit;
      width: 100%;
      border: 3px solid $brand-primary;
      border-radius: 22px;
      padding-right: 135px;
      &:focus {
        outline: 0 !important;
      }
    }
    input[type=submit] {
      position: absolute;
      z-index: 1;
      color: white;
      background-color: $brand-primary;
      top: 2px;
      right: 2px;
      bottom: 2px;
      border-radius: 22px;
      border: 1px solid $brand-primary;
      @include transition($transition-primary);
      margin-left: -20px;
      box-shadow: none;
      &:hover {
        color: white;
        background-color: darken($brand-primary, 17%);
      }
      .search {
        color: white !important;
      }
    }
    //input {
    //  height: 42px;
    //  box-shadow: none;
    //}
  }
  //margin-bottom: 0.625rem;
}

.block-contact {
  border-left: $gray-light 2px solid;
  padding-left: 3rem;
  color: $gray;
  .block-contact-title{
    color:$gray-darker;
  }
}
.linklist {
  .blockcms-title a {
    color:$gray-darker;
  }
}
.account-list a {
  color: $gray;
  &:hover {
    color: $brand-primary;
  }
}
.blockcms-title,
.myaccount-title,
.myaccount-title a,
.block-contact-title {
  font-weight: 700;
  font-size: $base-font-size;
}
.block-social {
  text-align: left;
  .footer-container & h3 {
    color: white;
    font-size: 1.0625rem;
    font-weight: normal;
  }
  li {
    height: 33px;
    width: 32px;
    background-color: transparent;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0.125rem;
    cursor: pointer;
    position: relative;
    //&:hover {
    //  background-color: $brand-primary;
    //}
    .footer-container & a {
      display: block;
      height: 100%;
      white-space: nowrap;
      text-indent: 100%;
      overflow: hidden;
      color: $brand-primary;
      &:hover i {
        color: white;
      }
      i {
        color: $brand-primary;
        position: absolute;
        font-size: 37px;
        top: 0;
        left: 0;
        text-indent: initial;
      }
    }
  }
}
.facebook {
  background-image: url(../img/facebook.svg);
  &::before{
    content:"";
    background-image: url(../img/facebook-blue.svg);
  }
  &.icon-gray {
    background-image: url(../img/facebook-gray.svg);
    &:hover {
      background-image: url(../img/facebook-blue.svg);
    }
  }
}
.twitter {
  background-image: url(../img/twitter.svg);
  &::before{
    content:"";
    background-image: url(../img/twitter-blue.svg);
  }
  &.icon-gray {
    background-image: url(../img/twitter-gray.svg);
    &:hover {
      background-image: url(../img/twitter-blue.svg);
    }
  }
}
.rss {
  background-image: url(../img/rss.svg);
}
.youtube {
  background-image: url(../img/youtube.svg);
}
.googleplus {
  background-image: url(../img/gplus.svg);
  &::before{
    content:"";
    background-image: url(../img/gplus-blue.svg);
  }
  &.icon-gray {
    background-image: url(../img/gplus-gray.svg);
    &:hover {
      background-image: url(../img/gplus-blue.svg);
    }
  }
}
//#block_myaccount_infos{
//  .myaccount-title a{
//    color:$gray-darker;
//  }
//}
.pinterest {
  background-image: url(../img/pinterest.svg);
  &::before{
    content:"";
    background-image: url(../img/pinterest-blue.svg);
  }
  &.icon-gray {
    background-image: url(../img/pinterest-gray.svg);
    &:hover {
      background-image: url(../img/pinterest-blue.svg);
    }
  }
}
.vimeo {
  background-image: url(../img/vimeo.svg);
}
.instagram {
  background-image: url(../img/instagram.svg);
}
.footer-container {
  //background: $gray-darker; /* Old browsers */
  //background: -moz-linear-gradient(top, black 1%, $gray-darker 100%); /* FF3.6-15 */
  //background: -webkit-linear-gradient(top, black 1%,$gray-darker 100%); /* Chrome10-25,Safari5.1-6 */
  //background: linear-gradient(to bottom, black 1%,$gray-darker 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='$gray-darker',GradientType=0 ); /* IE6-9 */
  @include gradient-y(black, $gray-darker, $start-percent: 0%, $end-percent: 50%);
  //margin-top: $medium-space;
  padding-top: $extra-large-space;
  padding-bottom: $extra-large-space;
  overflow: hidden;
  //box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.3);
  h3, h3 a {
    color: $brand-primary;
    font-size: $display3-size;
    text-transform: none;
  }
  li {
    //margin-bottom: 0.3125rem;
  }
  li a {
    color: white;
    cursor: pointer;
    font-size: 1rem;
    &:hover {
      color: $brand-primary;
    }
  }
  .links {
    .collapse {
      display: inherit;
    }
  }
  //#footer-logo {
  //  margin-bottom: $medium-space;
  //}
  .block-social_paiement {
    padding-top: $medium-space;
  }
}

/*** Responsive part ***/
@include media-breakpoint-down(sm) {
  .block_newsletter {
    padding-top: $large-space;
    padding-bottom: $large-space;
    #block-newsletter-label {
      padding-top: 0;
      margin-bottom: .625rem;
    }
    form {
      input[type=text] {
        padding-right: 50px;
      }
      input[type=submit] {
        padding: 0 11px;
      }
    }

  }
  .footer-container {
    padding-top: $large-space;
    padding-bottom: $large-space;
    box-shadow: none;
    margin-top: 0;
    .wrapper {
      padding-left: 0 !important;
      padding-right: 0 !important;
      &#block_myaccount_infos {
        margin-bottom: $large-space;
      }
    }
    .links {
      .h3 {
        line-height: 1.5;
        font-size: 1rem;
        color: white;
      }
      .title {
        padding: .625rem .625rem 0;
        border-bottom: 1px solid $gray;
        cursor: pointer;
        .collapse-icons .remove {
          display: none;
        }
      }
      .title[aria-expanded="true"] {
        //background-color: $gray-light;
        .h3 {
          color: $brand-primary;
        }
        .collapse-icons {
          .add {
            display: none;
          }
          .remove {
            display: block;
          }
        }
      }
      .navbar-toggler {
        display: inline-block;
        padding: 0;
        color: $gray-light;
      }
      .collapse {
        display: none;
        &.in {
          display: block;
        }
      }
      ul {
        //background-color: $gray-lighter;
        margin-bottom: 0;
        > li {
          border-top: 1px dotted $gray;
          font-weight: bold;
          a {
            display: block;
            padding: 0.625rem;
          }
        }
        &.collapse.in {
          margin-bottom: $medium-space;
        }
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .block-contact {
    padding-left: 1.5rem;
  }
}

@include media-breakpoint-down(xs) {
  .block_newsletter {
    padding-top: $medium-space;
    padding-bottom: $medium-space;
  }
  .footer-container {
    padding-top: $medium-space;
    padding-bottom: $medium-space;
  }
  .block-social {
    text-align: center;
  }
}
