#gondola {
  .gondola-content {
    border-color: $gray-light;
    margin-bottom: $large-space;
    position: relative;
    overflow: hidden;
    &:hover {
      .hover-img {
        filter:grayscale(50%);
        -webkit-filter:grayscale(50%);
        transform-origin: 50% 50%;
        transform: scale(1.15);
        transition: all 5s ease 0s;
        //-webkit-transition: all 0.5s ease 0s;
        //-moz-transition:all 0.5s ease 0s;
        //-ms-transition:all 0.5s ease 0s;
        //-o-transition:all 0.5s ease 0s;
      }
    }
  }
  a {
    display: block;
    img {
      position: relative;
      z-index: 1;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
  .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
  }
}
