#guide-tailles-lingerie-sexy {

  .marque {
    padding-top: $medium-space;
    margin-bottom: $large-space;
  }

  .tableau-tailles {
    border-collapse: collapse;
    margin-bottom: $medium-space;

    th, td, caption {
      padding: 7px 20px 7px 10px;
      margin: 0;
      color: #000;
    }

    thead  {
      border-bottom: 2px solid $gray;
    }

    caption {
      caption-side: top;
      border: 1px solid $gray-lighter;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }

    th {
      background-color: $gray-lighter;
    }

    td {
      text-align: center;
      border-left: 1px solid $gray-lighter;
      border-bottom: 1px solid $gray-lighter;
    }

    .background-1 {
      background-color: $btn-tertiary-hover;
    }
    .background-2 {
      background-color: $warning-hover;
    }
  }

}