//body.page-index #wrapper > .container {
//  max-width: 100%;
//  width: 100%;
//  padding-left: 0;
//  padding-right: 0;
//}

.carousel {
  //box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 1.5rem;
  .direction {
    z-index: auto;
  }
  .carousel-inner {
    height: 400px;
    @media (max-width: 767px) {
      height: auto;
    }
  }
  .carousel-item {
    height: 100%;
    //img {
    //  @media (max-width: 767px) {
    //    max-width: 100%;
    //    height: auto;
    //  }
    //  @media (min-width: 768px) {
    //    width: 100%;
    //    margin-left: 0;
    //  }
    //}
    .caption {
      position: absolute;
      @media (min-width: 768px) {
      bottom: 28px;
      left: 90px;
      }
      @media (max-width: 767px) {
        bottom: 5px;
        left: 40px;
      }
      color: white;
      max-width: 340px;
      .caption-description p {
        color: white;
      }
    }
    figure {
      @media (max-width: 767px) {
        margin: 0;
      }
    }
  }
  .carousel-control {
    //opacity: 1;
    //overflow: hidden;
    //.icon-next,
    //.icon-prev {
    //  &::before {
    //    content: "";
    //  }
    //  i {
    //    font-size: 3.125rem;
    //    color: white;
    //  }
    //  &:hover {
    //    i {
    //      color: $brand-primary;
    //    }
    //  }
    //}
    //.icon-prev {
    //  left: 1rem;
    //}
    //.icon-next {
    //  right: 2rem;
    //}
    //&.left,
    //&.right {
    //  background: none;
    //}
    width: auto;
    top: 50%;
    left: auto;
    bottom: auto;
    right: auto;
    margin-top: -40px;
    background: none;
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
    //text-shadow: 0 10px 5px rgba(0, 0, 0, 0.15);
  }
  .material-icons {
    font-size: 80px;
  }
}


.carousel {
  box-shadow: none;
  .carousel-inner {
    height: 400px;
    background-color: $gray-darker;
    .carousel-item {
      a {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }
}


/*** Responsive part ***/
@include media-breakpoint-down(md) {
  .carousel .carousel-inner {
    height: 300px;
  }
}
@include media-breakpoint-down(sm) {
  .carousel {
    //margin-left: -.625rem;
    //margin-right: -.625rem;
    margin-top: -1rem;
    .carousel-inner {
      //height: 220px;
      height: 40vw;
    }
  }

}