.top-menu {
  &#top-menu {
    padding-top: 5px;
    margin-bottom: 0;
    & > .category {
      border-left: 1px solid $gray-light;
      &:first-child {
        border-left-color: transparent;
      }
    }
  }
  &[data-depth="1"] {
    margin: $medium-space $small-space $small-space;
    font-size: 1rem;
    -webkit-columns: 4;
    -moz-columns: 4;
    columns: 4;
    max-height: 550px;
    display: block;
  }
  a:not([data-depth="0"]) {
    display: block;
    padding: $small-space;
    color: $gray;
    font-weight: 400;
  }
  a.dropdown-submenu {
    color: $gray-darker;
    text-transform: uppercase;
    font-weight: 600;
  }
  a[data-depth="0"] {
    font-weight: 600;
    //padding: 0.1875rem $small-space 0.375rem;
    padding: 12px 15px 12px;
    border-bottom: 2px solid transparent;
    font-size: 1rem;
    //&:hover {
    //  #header & {
    //    color: $brand-primary;
    //    text-decoration: none;
    //    border-bottom: 2px solid $brand-primary;
    //  }
    //}
  }
  a[data-depth="1"] {
    font-weight: 600;
  }
  a[data-depth="1"],
  a[data-depth="2"] {
    //padding: 0 $small-space $small-space 0;
    padding: 0 $small-space 0 0;
    white-space: normal;
  }
  .collapse {
    display: inherit;
  }
  .sub-menu {
    &.collapse {
      display: none;
    }
    //box-shadow: 2px 1px 11px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 6px rgba(33, 33, 33, .33);
    //border: none;
    border-top: 2px solid $brand-primary;
    margin-left: 0.9375rem;
    width: calc(100% - 30px);
    min-width: calc(100% - 30px);
    z-index: 18;
    display: none;
    ul[data-depth="1"] > li {
      //float: left;
      margin: 0 1.25rem;
      padding-bottom: 20px;
      break-inside: avoid-column;
      page-break-inside: avoid;
      -webkit-column-break-inside: avoid;
    }
    a:hover {
      color: $brand-primary;
    }
  }
  .popover {
    max-width: inherit;
    border-radius: 0;
  }
}

#header .top-menu > .category:hover a[data-depth="0"] {
  color: $brand-primary;
  text-decoration: none;
  border-bottom-color: $brand-primary;
}

.popover.bs-tether-element-attached-top {
  margin-top: 0;
}

#mobile_top_menu_wrapper {
  //margin-top: $small-space;
  padding-bottom: $small-space;
  background: white;
  #top-menu {
    margin-bottom: $small-space;
  }
  .top-menu {
    color: $gray-darker;
    .collapse-icons[aria-expanded="true"] {
      .add {
        display: none;
      }
      .remove {
        display: block;
      }
    }
    .collapse-icons .remove {
      display: none;
    }
    .dropdown-item {
      position: relative;
    }
    .navbar-toggler {
      display: inline-block;
      padding: 0;
      
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      //border-left-color: $gray-light;
      border-radius: 0;
      text-align: center;
      height: auto;
      width: auto;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 37px;
        bottom: 0;
        background-color: $gray-light;
        width: 1px;
      }
      .material-icons {
        position: absolute;
        top: 8px;
        right: 5px;
      }
    }

    a[data-depth="2"] {
      background-color: $gray-lighter;
    }

    a[data-depth="1"] {
      background-color: $gray-light;
      .navbar-toggler:after {
        //border-left-color: white;
        background-color: white;
      }
    }

    a[data-depth="0"] {
      padding: $small-space;
      border-bottom: 1px solid $gray-lighter;
      font-size: 1.5rem;
    }

    .collapse {
      display: none;
      &.in {
        display: block;
      }
    }
    .sub-menu {
      &.collapse {
        display: none;
        &.in {
          display: block;
        }
      }
      box-shadow: none;
      z-index: inherit;
      display: block;
      position: static;
      overflow: hidden;
      margin-left: 0;
      width: 100%;
      min-width: 100%;
      background: $gray-lighter;
      ul[data-depth="0"] > li {
        border-bottom: 1px solid $gray;
      }
      ul[data-depth="1"] {
        margin: 0;
        -webkit-columns: auto;
        -moz-columns: auto;
        columns: auto;
        max-height: none;
        > li {
          float: none;
          margin: 0;
          a {
            text-transform: none;
          }
        }
      }
      ul {
        padding: 0;
      }
      li > a {
        padding: $small-space;
        border-bottom: 1px solid white;
        font-weight: bold;
      }
      ul[data-depth="2"] li a {
        padding-left: 1.25rem;
      }
      ul[data-depth="3"] li a {
        padding-left: 2.5rem;
      }
      ul[data-depth="4"] li a {
        padding-left: 3.75rem;
      }
    }
  }
  .js-top-menu-bottom {
    a {
      color: $gray;
    }
    .language-selector-wrapper {
      padding: $small-space;
      .language-selector {
        display: inline;
      }
    }
    .currency-selector {
      padding: $small-space;
    }
    #contact-link {
      padding: $small-space;
    }
    .user-info {
      padding: 0 $small-space;
      a {
        padding: $small-space 0;
        display: block;
        width: 100%;
      }
    }
  }
}

/*** Responsive part ***/
@include media-breakpoint-down(lg) {
  .top-menu {
    &[data-depth="1"] {
      -webkit-columns: 3;
      -moz-columns: 3;
      columns: 3;
      max-height: 700px;
    }
    a[data-depth="0"] {
      //padding-left: 0.8rem;
      //padding-right: 0.8rem;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
@include media-breakpoint-down(md) {
  .top-menu {
    &[data-depth="1"] {
      -webkit-columns: 3;
      -moz-columns: 3;
      columns: 3;
      max-height: 900px;
    }
    a[data-depth="0"] {
      font-size: 0.75rem;
      //padding-left: 0.4rem;
      //padding-right: 0.4rem;
      padding: 5px;
    }
  }
}