.search-widget {
  //float: right;
  @include search-box;

  form button[type=submit] {
    color: white;
    background-color: $brand-primary;
    top: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: 22px;
    width: 42px;
    border: 1px solid $brand-primary;
    @include transition($transition-primary);
    padding: 0 0 0 5px;
    &:hover {
      color: white;
      background-color: darken($brand-primary, 17%);
    }
    .search {
      color: white !important;
    }
    .material-icons {
      font-size: 34px;
    }
  }
}

.search-widget {
  form {
    width: 100%;
    input[type="text"] {
      min-width: inherit;
      width: 100%;
      border: 3px solid $brand-primary;
      border-radius: 22px;
      padding-right: 45px;
      &:focus {
        outline: 0 !important;
      }
    }
  }
}
#checkout {
  #search_widget {
    display: none; /* Not ideal solution by allows to reuse same hooks/templates */
  }
}

#pagenotfound {
  .page-content {
    #search_widget {
      width: 100%;
    }
  }
}

.page-not-found {
  .search-widget {
    form {
      display: inline-block;
    }
  }
}

/*** Responsive part ***/
@include media-breakpoint-down(sm) {
  .header-top {
    .search-widget {
      float: none;
      //padding: 0 0.9375rem;
      padding: 5px 0;
      form {
        margin: 0 auto;
        input[type="text"] {
          min-width: inherit;
          background: white;
        }
      }
    }
  }
}
