//@import "~font-awesome";
@import "~bourbon/app/assets/stylesheets/bourbon";
@import "partials/_variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css";
@import "partials/_mixins";
@import "partials/_fonts";
@import "partials/_commons";
@import "components/alert";
@import "components/drop-down";
@import "components/search-widget";
@import "components/mainmenu";
@import "components/checkout";
@import "components/customer";
@import "components/forgotten-password";
@import "components/renew-password";
@import "components/imageslider";
@import "components/featuredproducts";
@import "components/custom-text";
@import "components/categories";
@import "components/products";
@import "components/cart";
@import "components/block-reassurance";
@import "components/quickview";
@import "components/stores";
@import "components/footer";
@import "components/contact";
@import "components/errors";
@import "components/customization-modal";
@import "components/sitemap";
@import "components/assets-home";
@import "components/gondola-home";
@import "components/guide-tailles-lingerie-sexy";
@import "components/brand";

/*** HEADER ***/
#header {
  background: white;
  color: $gray;

  // Logo

  //.logo {
  //  max-width: 100%;
  //}
  .logo-h1 {
    padding-top: 99px;
    height: 0;
    width: auto;
    overflow: hidden;
    background-size: auto 100%;
    background-repeat: no-repeat;
    margin: 0;
  }
  .logo {
    height: 99px;
  }
  #_mobile_logo {
    .logo-h1 {
      padding-top: 50px;
    }
    .logo {
      height: 50px;
    }
  }
  a {
    color: $gray-darker;
    &:hover {
      text-decoration: none;
      color: $brand-primary;
    }
  }
  .header-nav {
    //border-bottom: $gray-light 2px solid;
    max-height: 50px;
    margin-bottom: 20px;
    background-color: $gray-darker;
    color: white;
    #menu-icon {
      vertical-align: middle;
      cursor: pointer;
      margin-left: 1rem;
      margin-right: 1rem;
      .material-icons {
        line-height: 50px;
      }
    }
    .right-nav {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
    }
    .currency-selector {
      margin-top: 0.9375rem;
      margin-left: 0.9375rem;
      white-space: nowrap;
    }
    .language-selector {
      margin-top: 0.9375rem;
      white-space: nowrap;
    }
    .user-info {
      margin-left: 2.5rem;
      margin-top: 0.9375rem;
      text-align: right;
      white-space: nowrap;
      .account {
        margin-left: $small-space;
      }
    }
    .cart-preview {
      &.active {
        background: $brand-primary;
        a, i {
          color: white;
        }
      }
      .shopping-cart {
        vertical-align: middle;
        color: $gray;
      }
      .body {
        display: none;
      }
    }
    .blockcart {
      background: $gray-light;
      height: 3rem;
      padding: 0.75rem;
      margin-left: 0.9375rem;
      text-align: center;
      white-space: nowrap;
      a {
        color: $gray;
        &:hover {
          color: $brand-primary;
        }
      }
      &.active {
        a:hover {
          color: white;
        }
      }
      .header {
        margin-top: 0.125rem;
      }
    }
    #contact-link {
      margin-top: 0.9375rem;
    }
    .material-icons {
      line-height: inherit;
      &.expand-more {
        margin-left: -0.375rem;
      }
    }
    .list-link {
      margin: 0;
      > li {
        display: inline-block;
        margin: 0 0 0 $large-space;
        font-size: $font-size-sm;
        line-height: 1.857;
        > a {
          color: white;
          @include transition(all .4s ease-in-out);
          &:hover {
            color: $brand-primary;
          }
        }
        .fa {
          color: $brand-primary;
        }
      }
    }
  }
  .header-top {
    > .container {
      position: relative;
    }
    //padding-bottom: 1.25rem;
    .menu {
      > ul {
        > li {
          float: left;
        }
      }
      //padding-left: 15px;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 1rem;
      @include media-breakpoint-down(md) {
        margin-left: -7px;
      }
    }
    .position-static {
      position: static;
    }
    a[data-depth="0"] {
      color: $gray-darker;
      text-transform: uppercase;
    }
    #_desktop_logo {
      margin-top: -36px;
    }
    #_desktop_top_menu > .top-menu {
      text-align: center;
      font-size: 0;
      display: table;
      width: 100%;
      & > li {
        //display: inline-block;
        display: table-cell;
        float: none;

        // Fetish
        &#category-17 {
          & > a {
            background-color: $gray-darker;
          }
          &.category:hover a[data-depth="0"] {
            border-bottom-color: $gray-darker;
            color: $brand-primary;
          }
          a {
            color: white;
            &:hover {
              color: $brand-primary;
            }
          }
          .sub-menu {
            border-top-color: $gray-darker;
            @include gradient-y($gray-darker, black, $start-percent: 0%, $end-percent: 50%);
          }
        }
        // Marques
        &#lnk-marques {
          & > a {
            background-color: $brand-primary;
            color: white;
            &:hover {
              color: $gray-darker;
            }
          }
        }
      }
    }
  }
  //.user-info {
  //  //margin-left: 2.5rem;
  //  margin-top: 0.9375rem;
  //  text-align: right;
  //  white-space: nowrap;
  //  .account {
  //    margin-left: $small-space;
  //  }
  //}
  //.cart-preview {
  //  &.active {
  //    background: $brand-primary;
  //    a, i {
  //      color: white;
  //    }
  //  }
  //  .shopping-cart {
  //    vertical-align: middle;
  //    color: $gray;
  //  }
  //  .body {
  //    display: none;
  //  }
  //}
  .displaynav2 {
    text-align: right;
    font-size: $font-size-sm;
    > div {
      display: inline-block;
      text-align: center;
      margin-top: -10px;
      margin-left: $medium-space;
      &:first-child {
        margin-left: 0;
      }
    }
    .material-icons {
      display: block;
      color: $brand-primary;
      font-size: 2.8125rem;
      margin: 0 auto -5px;
    }
  }
  .blockcart {
    //background: $gray-light;
    //height: 3rem;
    padding: 0;
    //margin-left: 0.9375rem;
    text-align: center;
    white-space: nowrap;
    position: relative;
    font-size: $font-size-sm;
    a {
      color: $gray-darker;
      &:hover {
        color: $brand-primary;
      }
    }
    //&.active {
    //  a:hover {
    //    color: white;
    //  }
    //}
    &.inactive {
     .cart-products-count {
       display: none;
     }
    }
    .cart-products-count {
      position: absolute;
      top: 0;
      right: 0;
      color: $brand-primary;
      background-color: white;
      border: 1px solid $brand-primary;
      border-radius: 9px;
      min-width: 20px;
      line-height: 18px;
      padding: 0 4px;
    }
  }
  .top-menu-link {
    margin-left: $medium-space;
  }
}

.popover {
  font-family: inherit;
}
/*** WRAPPER ***/
#wrapper {
  //background: $gray-light;
  //box-shadow: inset 0 2px 5px 0 rgba(0,0,0,0.11);
  //padding-top: 1.563rem;
  .banner {
    margin-bottom: 1.5rem;
    display: block;
    img {
      box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.15);
    }
  }
  .breadcrumb {
    //background: transparent;
    //padding: 0;
    &[data-depth="1"] {
      display: none;
    }
    ol {
      padding-left: 0;
      margin-bottom: 0;
    }
    li {
      display: inline;
      &::after {
        content: "/";
        color: $gray;
        margin: 0.3125rem;
      }
      &:last-child {
        content: "/";
        color: $gray;
        margin: 0;
        &::after {
          content: "";
        }
      }
      a {
        color: $gray-darker;
      }
    }
  }
}
/*** MAIN ***/
#main {
  .page-header {
    margin-bottom: 1.563rem;
  }
  .page-content {
    margin-bottom: 1.563rem;
    h6 {
      margin-bottom: 1.125rem;
    }
    #notifications {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .page-footer {
    margin-bottom: 1.563rem;
  }
}
#notifications {
  ul {
    margin-bottom: 0;
  }
}
/*** FOOTER ***/
#footer {
  padding-top: 2.5rem;
}


/*** Responsive part ***/
@include media-breakpoint-down(sm) {
  #wrapper {
    box-shadow: none;
  }
  #checkout-cart-summary {
    float: none;
    width: 100%;
    margin-top: 1rem;
  }
  #header {
    background: $gray-light;
    margin-bottom: 1rem;
    .header-nav {
      background: white;
      margin-bottom: 0;
      color: $gray-darker;
      .top-logo {
        line-height: 50px;
        vertical-align: middle;
        //width: 200px;
        margin: 0 auto;
        a {
          img {
            max-height: 50px;
            max-width: 100%;
          }
        }
      }
      .right-nav {
        flex-direction: column;
      }
      .user-info {
        text-align: left;
        margin-left: 0;
        .logged {
          color: $brand-primary;
        }
      }
      .blockcart {
        margin-left: 0;
        background: inherit;
        &.active {
          margin-left: 0.5rem;
        }
        &.inactive {
          .cart-products-count {
            display: none;
          }
        }
      }
    }
    .header-top {
      background: $gray-light;
      padding-bottom: 0;
      a[data-depth="0"] {
        color: $gray-darker;
      }
    }
  }
  section.checkout-step {
    width: 100%;
  }
  .default-input {
    min-width: 100%;
  }
  label {
    clear: both;
  }
  #products .product-miniature,
  .featured-products .product-miniature {
    margin: 0 auto;
  }
  .block-contact {
    padding-left: 0.9375rem;
    border: none;
  }
  .menu,
  .dropdown-item {
    padding-left: 0;
  }
  #footer {
    padding-top: 0.5rem;
  }
}

@include media-breakpoint-down(md) {
  .container {
    max-width: 100%;
  }
  #header {
    .logo-h1 {
      padding-top: 90px;
    }
    .logo {
      height: 90px;
    }
  }
  #products .product-miniature,
  .featured-products .product-miniature {
    margin: 0 auto;
  }
  .sub-menu {
    left: 0;
    min-width: 100%;
  }
  #blockcart-modal .product-image {
    width: 100%;
    display: block;
    max-width: 250px;
    margin: 0 auto 0.9375rem;
  }
  #blockcart-modal .cart-content {
    padding-left: 0;
  }
  #blockcart-modal .product-name,
  #product-availability {
    margin-top: $small-space;
  }
  #search_filters .facet .facet-label {
    text-align: left;
  }
  .block-category .category-cover {
    position: relative;
    text-align: center;
  }
  .block-category {
    padding-bottom: 0;
  }
}

//@include media-breakpoint-down(xs) {
//  #left-column, #content-wrapper {
//    padding-left: $small-space;
//    padding-right: $small-space;
//  }
//}
